#errorBox{


position:absolute;


display:none;


z-index:100;


}



#errorBox.show{


display:block;


animation:

virusPop .2s steps(3);



}




.virusWindow{


width:280px;


background:#050505;


border:2px solid #00ff66;


box-shadow:

0 0 20px #00ff66;


padding:20px;


font-family:

monospace;



}





.virusTitle{


background:#001900;


padding:8px;


color:#00ff66;


font-size:18px;



}




.virusText{


margin-top:20px;


line-height:30px;


color:#00ff66;


font-size:14px;



}






@keyframes virusPop{


0%{


transform:translate(20px,-10px);


}



50%{


transform:translate(-10px,10px);


}



100%{


transform:translate(0);



}



}