*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    width:100vw;
    height:100vh;

    overflow:hidden;

    background:
    radial-gradient(
        circle at center,
        #182c58,
        #050814 55%,
        #000
    );

    color:white;

    font-family:
    "Times New Roman",
    serif;

    cursor:none;

}



/* =================
极光
================= */


body::before{

    content:"";

    position:absolute;

    width:120%;

    height:60%;

    top:-20%;

    left:-10%;


    background:

    linear-gradient(
        120deg,
        transparent,
        rgba(80,255,220,.15),
        rgba(80,120,255,.2),
        transparent
    );


    filter:blur(60px);


    animation:
    aurora 12s infinite alternate;


}



@keyframes aurora{


0%{

    transform:
    translateX(-10%)
    rotate(-5deg);

}



100%{

    transform:
    translateX(10%)
    rotate(5deg);

}


}





/* =================
文字
================= */


#intro{

    position:absolute;

    left:12%;

    top:40%;


    z-index:5;

}



.love,
.know{

    font-size:70px;

    letter-spacing:25px;

    opacity:.85;

}



.know{

    margin-left:100px;

    margin-top:20px;

    font-style:italic;

    opacity:.6;

}







/* =================
星空
================= */


#space{

    position:absolute;

    width:100%;

    height:100%;

}



.stars{

    position:absolute;

    width:500px;

    height:400px;


    left:65%;

    top:45%;


}





.star{

    position:absolute;

    width:10px;

    height:10px;


    background:white;

    border-radius:50%;


    box-shadow:

    0 0 15px white,

    0 0 35px #79b9ff;


    transition:.4s;


    cursor:none;

}




.star:hover{

    transform:scale(2);

}






/* 北极星 */


.polaris{

    width:18px;

    height:18px;


    box-shadow:

    0 0 30px white,

    0 0 80px #70baff;


}





/* 小熊座 */


.polaris{

    left:80px;

    top:40px;

}



.s1{

    left:160px;

    top:70px;

}



.s2{

    left:240px;

    top:100px;

}



.s3{

    left:320px;

    top:150px;

}



.s4{

    left:250px;

    top:220px;

}



.s5{

    left:170px;

    top:250px;

}



.s6{

    left:100px;

    top:190px;

}








/* =================
底部雨滴水面
================= */


#rainFloor{

    position:absolute;

    bottom:0;

    width:100%;

    height:25%;

    overflow:hidden;

}





.rainRipple{


    position:absolute;


    bottom:30px;


    width:15px;


    height:15px;


    border-radius:50%;


    border:

    1px solid rgba(180,220,255,.5);



    animation:

    dropRipple 3s linear;


}





@keyframes dropRipple{


0%{


    transform:scale(.3);


    opacity:.8;


}




100%{


    transform:scale(5);


    opacity:0;


}


}







/* =================
星轨状态
================= */


.galaxy-transition{


    animation:

    spaceWarp 3s forwards;


}




@keyframes spaceWarp{


0%{


    filter:brightness(1);


    transform:scale(1);


}



100%{


    filter:brightness(5);


    transform:scale(5);


}


}








/* =================
自定义星星鼠标
================= */


#cursorStar{


    position:absolute;


    width:15px;


    height:15px;



    background:white;



    border-radius:50%;



    box-shadow:


    0 0 20px white,

    0 0 40px #80caff;



    pointer-events:none;



    z-index:999;



}

/* =================
星星繁衍
================= */


.childStar{

    position:absolute;

    width:8px;

    height:8px;


    background:white;


    border-radius:50%;


    box-shadow:

    0 0 20px white,

    0 0 40px #79baff;


}



.starBirth{

    animation:

    birth 1s;


}



@keyframes birth{


    0%{

        transform:scale(1);

    }



    50%{


        transform:scale(4);



        box-shadow:

        0 0 80px white,

        0 0 150px #7dbdff;


    }



    100%{


        transform:scale(1);


    }


}





.orbit{


    animation:

    orbitMove 4s linear infinite;


}





@keyframes orbitMove{


    from{


        transform:

        rotate(0deg)

        translateX(120px)

        rotate(0deg);


    }



    to{


        transform:

        rotate(360deg)

        translateX(120px)

        rotate(-360deg);


    }


}